<h1> Submissions </h1>
<li id="submission-<%= submission.id %>">
  <% submission.all_data.each do |accession,questions| %>
  <div class = "row">
        <div class = "col-sm-15">
      <div class = "col-sm-4"><%= link_to accession, "http://www.ebi.ac.uk/arrayexpress/experiments/#{accession}", :target => '_blank'%></div>
      <div class = "col-sm-4"><%= Dataset.find_by_name("dataset").Data_set[accession]%></div>
    </div>
    <div class = "col-sm-4">
        <div style="overflow-y:scroll;height:100px;">
                    <table class='table'>
                    <tbody>
                      
                    <% questions.each do |kq,q| %> 
                    <tr>
                      <td width="150px"><%= kq %></td>
                      <td width="100px">
                      <% if q.to_i>0 %>
                        <label>Yes</label>
                      <% else %>
                        <label>No</label>
                      <% end %>
                      </td>
                    </tr>
                    <% end %>
          
                  </tbody>
                </table> 
          </div> 
    </div>
  </div>
  <% end %>
</li>