<footer class="footer">
  <small>
    The <a href="https://github.com/marshalma/DiseaseDatasetCuration">Dataset Curation</a>
    by <a href="https://github.com/marshalma/DiseaseDatasetCuration">Team 666</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
